<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_ATBM.Properties.Settings.ConnectionString"
            connectionString="Data Source= localhost/pdbtest ;User Id= hienadm ;Password= pass; DBA Privilege=SYSDBA;"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>